html{
    background-color: bisque;
}

h1{
    color: brown;
}

h1:hover{
    color: white;
}

p{
    column-gap: 40px;
    column-count: 3;
    column-rule-style: solid;
    column-rule-color: red;
    column-rule-width: 2px;
}

p:active {
    color: blue
    background-color: aqua;
}

